<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    <link rel="stylesheet" href="/static/about.css">
</head>
<body>
    <section id="myintro">
        <div class="my-heading">
            <h3>My Intro</h3>
        </div>
        <div class="my-information">
            <div class="my-icon">
                <img src="/static/information.png" alt="" srcset="">
            </div>
            <div class="my-info">
                <p>Hello everyone,
    
                    I'm Akash Morwal, a 3rd-year student pursuing a B.tech in computer science and engineering at Mss's college of engineering and technology Jalna.</p>
                    
                 <p>   I have been working on python, Django, React, Selenium, and other fields of web development and automation for the past 1 year I made and developed many projects using this technology and frameworks. and have good knowledge of these technologies.</p>
                    
                  
            </div>
        </div>
    </section>
</body>
</html>

