<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 ,maximum-scale=1.0, user-scalable=no">
    <title> My Portfolio</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@400;700&display=swap"
        rel="stylesheet">
    

</head>

<body>
    <div class="bodyContainer">
        <!---->
        <div class="Hamburger">
            <div class="ham"><img src="/static/menu.png" alt="" width="23px"></div>
            <div class="cross" id="cross"><img src="/static/cross.png" alt="" width="28px"></div>
            <script src="/static/index.js"></script>
        </div>
        
        <div class="Sidebar SidebarGo">
            <ul class="item">
                <li><a href="file:///C:/Users/Akash/Desktop/first%20project/index.html">Home</a></li>
                <li><a href="about">About us</a></li>
                <li><a href="contact">Contact us</a></li>
                <li><a href="project">Project</a></li>
                <li><a href="jointeam">Join Team</a></li>
                <li><a href="https://forms.gle/q1NPsMJrbJnxDfky6">feedback</a></li>
              
            </ul>  
        </div>
        <div class="main">
            <div class="main-heading">
                
                <h1>Portfolio</h1>

            </div>

            <div class="infoContainer">
                <div class="devpic">
                    <img src="/static/profilepic.png" alt="">
                </div>
                <div class="devinfo">
                    <div class="Hello">Hi i am </div>
                    <div class="Name" data-text="Akash Morwal">Akash Morwal</div>
                    <div class="about">Software Developer</div>
                    <p>I'm Akash Morwal, a 3rd-year student pursuing a B.tech in computer science and engineering at Mss's college of engineering and technology Jalna.</p>
                    <div class="btn">
                        <button><a href="https://drive.google.com/file/d/1GyO9wGjjd1sicxdyrbuqoiF4QZkwhiJY/view?usp=share_link"> Dawnload CV</a></button>
                        <button><a href="contact">Contact us</a></button>
                    </div>
                </div>
               
            </div>
            <!-- <div class="social">
                <ul>
                    <a class="a1" href="#"><i class="fa fa-facebook"></i></a>
                    <a class="a1" href="#"><i class="fa fa-twitter"></i></a>
                    <a class="a1" href="#"><i class="fa fa-instagram"></i></a>
                    <a class="a1" href="#"><i class="fa fa-youtube-play"></i></a>
                    <a class="a1" href="#"><i class="fa fa-linkedin"></i></a>
                </ul>
            </div> -->

        </div>
        <!-- this is My intro area -->
        <section id="myintro">
            <div class="my-heading">
                <h3>My Intro</h3>
            </div>
            <div class="my-information">
                <div class="my-icon">
                    <img src="/static/information.png" alt="" srcset="">
                </div>
                <div class="my-info">
                    <p>Hello everyone,

                        I'm Akash Morwal, a 3rd-year student pursuing a B.tech in computer science and engineering at Mss's college of engineering and technology Jalna.</p>
                        
                     <p>   I have been working on python, Django, React, Selenium, and other fields of web development and automation for the past 1 year I made and developed many projects using this technology and frameworks. and have good knowledge of these technologies.</p>
                        
                      
                </div>
            </div>
        </section>

        <!-- new section for project -->
        <section id="blog">

            <!-- heading -->
            <div class="my-heading">
                <h3>Project</h3>
                <div class="main1">
                    <div class="card">
                        <img src="/static/images.png" alt="">
                        <h5 class="card-header">python</h5>
                        <div class="card-body">
                          <h5 class="card-title">Kivi | python virtual Assistance </h5>
                          <p class="card-text">A Virtual Assistance that performed daily task</p>
                          <a href="https://github.com/akashm936/python-project" class="btn btn-primary">Open Github</a>
                        </div>
                      </div>
                    <div class="card">
                        <img src="/static/download.png" alt="">
                        <h5 class="card-header">Reactjs</h5>
                        <div class="card-body">
                          <h5 class="card-title"> Weather App | Reactjs</h5>
                          <p class="card-text"> Reactjs App that can Fetch Api From other website</p>
                          <a href="https://github.com/akashm936/wheather-app" class="btn-primary">Open Github</a>
                        </div>
                      </div>
                    <div class="card">
                        <img src="/static/images.png" alt="">
                        <h5 class="card-header">Python</h5>
                        <div class="card-body">
                          <h5 class="card-title">Developer Portfolio | Django</h5>
                          <p class="card-text">Develop a developer portfolio using Django Framework</p>
                          <a href="#" class="btn-primary">Open Github</a>
                        </div>
                      </div>
                    <div class="card">
                        <img src="/static/images.png" alt="">
                        <h5 class="card-header">Python</h5>
                        <div class="card-body">
                          <h5 class="card-title">Work For Future | Django</h5>
                          <p class="card-text">Developed a Job portal using the django with Multi-user Interface</p>
                          <a href="https://github.com/akashm936/Workforfuture" class="btn-primary">Open Github</a>
                        </div>
                      </div>
                    <div class="card">
                        <img src="/static/htmlcss.jpg" alt="">
                        <h5 class="card-header">HTML/CSS</h5>
                        <div class="card-body">
                          <h5 class="card-title">CG Foundation</h5>
                          <p class="card-text">Developed a project for a organization , Clean And Green Foundation </p>
                          <a href="https://github.com/akashm936/CG-Foundation" class="btn-primary">Open Github</a>
                        </div>
                      </div>
                    <div class="card">
                        <img src="/static/htmlcss.jpg" alt="">
                        <h5 class="card-header">HTML/CSS</h5>
                        <div class="card-body">
                          <h5 class="card-title">Daily News Website</h5>
                          <p class="card-text">Developed a News Website Using Bootstrap, Html, Css, JavaScript</p>
                          <a href="https://github.com/akashm936/News-Website" class="btn btn-primary">Open Github</a>
                        </div>
                      </div>
                      <!-- <div class="btn-group mr-2" role="group" aria-label="First group">
                        <button type="button" class="btn btn-secondary">1</button>
                        <button type="button" class="btn btn-secondary">2</button>
                        <button type="button" class="btn btn-secondary">3</button>
                        <button type="button" class="btn btn-secondary">4</button>
                      </div> -->
                </div>
            </div>
        </section>
        <footer class="footer">
            <div class="container2">
                <div class="row">
                    <div class="footer-col">
                        <h4>Project</h4>
                        <ul>
                            <li><a href="https://github.com/akashm936/python-project/tree/main/kivi">Kivi | Python Assistance</a></li>
                            <li><a href="#">Devloper Portfolio</a></li>
                            <li><a href="https://random-quotes-reactjs.netlify.app/">Random quotes Generator</a></li>
                            <li><a href="https://tempapps-weather.netlify.app/">Reactjs Weather App</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>Scan QR code</h4>
                        <img src="/static/My_PDF.png" alt="">
                    </div>
                    <div class="footer-col">
                        <h4>Any Query</h4>
                        <ul>
                            <li><a href="contact">Contact us</a></li>
                            <li><a href="home">MY Intro</a></li>
                            <li><a href="https://drive.google.com/file/d/1GyO9wGjjd1sicxdyrbuqoiF4QZkwhiJY/view?usp=share_link">Dawnload CV</a></li>
                            <li><a href="jointeam">Join Team</a></li>
                        </ul>
                    </div>
                    <div class="footer-col">
                        <h4>follow us</h4>
                        <div class="social-links">
           
                            <a class="a1" href="https://twitter.com/akash301_"><i class="fa fa-twitter"></i></a>
                            <a class="a1" href="https://www.instagram.com/akash301_/"><i class="fa fa-instagram"></i></a>
                            <a class="a1" href="https://www.linkedin.com/in/akash301/"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <div class="footer-bottom">
            <a href="\/first%20project/datadisplay.php">&#169; All rights reserved 2023 </a>
        </div>

    </div>

</body>

</html>