{% block footer %}
  

<footer class="footer">
    <div class="container2">
        <div class="row">
            <div class="footer-col">
                <h4>Project</h4>
                <ul>
                    <li><a href="https://github.com/akashm936/python-project/tree/main/kivi">Kivi | Python Assistance</a></li>
                    <li><a href="#">Devloper Portfolio</a></li>
                    <li><a href="https://random-quotes-reactjs.netlify.app/">Random quotes Generator</a></li>
                    <li><a href="https://tempapps-weather.netlify.app/">Reactjs Weather App</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Scan QR code</h4>
                <img src="/static/My_PDF.png" alt="">
            </div>
            <div class="footer-col">
                <h4>Any Query</h4>
                <ul>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">MY Intro</a></li>
                    <li><a href="https://drive.google.com/file/d/1GyO9wGjjd1sicxdyrbuqoiF4QZkwhiJY/view?usp=share_link">Dawnload CV</a></li>
                    <li><a href="#">Join Team</a></li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>follow us</h4>
                <div class="social-links">
   
                    <a class="a1" href="https://twitter.com/akash301_"><i class="fa fa-twitter"></i></a>
                    <a class="a1" href="https://www.instagram.com/akash301_/"><i class="fa fa-instagram"></i></a>
                    <a class="a1" href="https://www.linkedin.com/in/akash301/"><i class="fa fa-linkedin"></i></a>
                </div>
            </div>
        </div>
    </div>

</footer>
<div class="footer-bottom">
    <a href="\/first%20project/datadisplay.php">&#169; All rights reserved 2022 </a>
</div>

{% endblock %}