{% block header %}
  

<div class="bodyContainer">
    <!---->
    {% block menu %}
      
    
    <div class="Hamburger">
        <div class="ham"><img src="/static/menu.png" alt="" width="23px"></div>
        <div class="cross" id="cross"><img src="/static/cross.png" alt="" width="28px"></div>
        <script src="/static/index.js"></script>
    </div>
    
    <div class="Sidebar SidebarGo">
        <ul class="item">
            <li><a href="file:///C:/Users/Akash/Desktop/first%20project/index.html">Home</a></li>
            <li><a href="about">About us</a></li>
            <li><a href="contact">Contact us</a></li>
            <li><a href="project">Project</a></li>
            <li><a href="#">Join Team</a></li>
            <li><a href="http://localhost/first%20project/contact.php?Name=sdsa&phone=fdafd&email=asdasdsfd&subject=dsfdsfsd&message=sdfsdfdsg&submit=submit#">feedback</a></li>
        </ul>
    </div>
    {% endblock %}
</div>
{% endblock %}
