{% block home %}
  
<div class="main">
    <div class="main-heading">
        <h1>Portfolio</h1>
    </div>

    <div class="infoContainer">
        <div class="devpic">
            <img src="/static/profilepic.png" alt="">
        </div>
        <div class="devinfo">
            <div class="Hello">Hi i am </div>
            <div class="Name" data-text="Akash Morwal">Akash Morwal</div>
            <div class="about">Software Developer</div>
            <p>I'm Akash Morwal, a 3rd-year student pursuing a B.tech in computer science and engineering at Mss's college of engineering and technology Jalna.</p>
            <div class="btn">
                <button><a href="https://drive.google.com/file/d/1GyO9wGjjd1sicxdyrbuqoiF4QZkwhiJY/view?usp=share_link"> Dawnload CV</a></button>
                <button>Contact Me</button>
            </div>
        </div>
       
    </div>
  

</div>

{% endblock %}