<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Team</title>
    <link rel="stylesheet" href="/static/jointeam.css">
</head>
<body>
    <div class="infoteam">
        <div class="jointeam">
            <h1> Join Our Team</h1>
            <h2> We Are Hiring</h2>
            <div class="about-team">
                <h2>Objective of Team</h2>
                <p> We are giving opportunities to students to work in teams. This opportunity is for students currently studying engineering, who have basic knowledge of programming and want to work on a larger project using their programming skills. Students can improve their skills by working on large projects and in teams</p>
                <div class="maincontent">
                <h3>Requirement available in student <span>any one</span></h3>
                <li> Studnet Must have the basic knowledge of html,css,javascript,python, Java ,ruby , .Net, C#.
                
                <li> Framework django, Flask, Vuejs,Angular, Reactj  </li>
                <li> database technology like MongoDB, MySQL, AWS, SQL, PostgreSQL ,Power BI, Data Visualization</li>
            
                <h3>Who can apply</h3>
                <li>for this initiative student who is currently studying in 2nd year, 3rd year, and final year are can apply.</li>
                
                <li>the student must be in computer science and a related field.</li>
                    <li>Students should be willing to work 6 to 7 hours per week.</li>
                
                <h3>Benefits of Joining Team</h3>
                <li>You can mention in your resume the project that you do in working in a team  With experience.</li>
                    <li>You can improve your programming skills and problem-solving skills by working in a team</li>
                        <li>This program is completely free so you don't need to pay any kind of fee.</li>
    
                <div class="joinnow">
                    <h4>If you are Intrested Apply Here</h4>
                    <a href="https://forms.gle/NYS9zhR8RvNkbis46"><button>Apply </button></a>
                </div>
                </div>
            </div>
            
        </div>
    </div>
</body>
</html>