{% extends "base.html" %}
{% block project %}
  

<div class="my-heading">
    <h3>Project</h3>
    <div class="main1">
        <div class="card">
            <img src="/static/images.png" alt="">
            <h5 class="card-header">python</h5>
            <div class="card-body">
              <h5 class="card-title">Kivi | python virtual Assistance </h5>
              <p class="card-text">A Virtual Assistance that performed daily task</p>
              <a href="#" class="btn btn-primary">Open Github</a>
            </div>
          </div>
        <div class="card">
            <img src="/static/download.png" alt="">
            <h5 class="card-header">Reactjs</h5>
            <div class="card-body">
              <h5 class="card-title"> Weather App | Reactjs</h5>
              <p class="card-text"> Reactjs App that can Fetch Api From other website</p>
              <a href="#" class="btn-primary">Open Github</a>
            </div>
          </div>
        <div class="card">
            <img src="/static/images.png" alt="">
            <h5 class="card-header">Python</h5>
            <div class="card-body">
              <h5 class="card-title">Developer Portfolio | Django</h5>
              <p class="card-text">Develop a developer portfolio using Django Framework</p>
              <a href="#" class="btn-primary">Open Github</a>
            </div>
          </div>
        <div class="card">
            <img src="/static/images.png" alt="">
            <h5 class="card-header">Python</h5>
            <div class="card-body">
              <h5 class="card-title">Work For Future | Django</h5>
              <p class="card-text">Developed a Job portal using the django with Multi-user Interface</p>
              <a href="#" class="btn-primary">Open Github</a>
            </div>
          </div>
        <div class="card">
            <img src="/static/htmlcss.jpg" alt="">
            <h5 class="card-header">HTML/CSS</h5>
            <div class="card-body">
              <h5 class="card-title">CG Foundation</h5>
              <p class="card-text">Developed a project for a organization , Clean And Green Foundation </p>
              <a href="#" class="btn-primary">Open Github</a>
            </div>
          </div>
        <div class="card">
            <img src="/static/htmlcss.jpg" alt="">
            <h5 class="card-header">HTML/CSS</h5>
            <div class="card-body">
              <h5 class="card-title">Daily News Website</h5>
              <p class="card-text">Developed a News Website Using Bootstrap, Html, Css, JavaScript</p>
              <a href="#" class="btn btn-primary">Open Github</a>
            </div>
          </div>
          <div class="btn-group mr-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-secondary">1</button>
            <button type="button" class="btn btn-secondary">2</button>
            <button type="button" class="btn btn-secondary">3</button>
            <button type="button" class="btn btn-secondary">4</button>
          </div>
    </div>
</div>

{% endblock %}